<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicons -->
  <link th:href="@{/eterna/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/eterna/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <title>Minutriporcion - Alimento</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:insert="~{sbadmin/dietas/sidebar :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:insert="~{sbadmin/topbar :: topbar}"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 th:if="${alimento == null || alimento.id == null || alimento.id == 0}" class="h3 mb-0 text-gray-800">Nuevo Alimento</h1>
            <h1 th:unless="${alimento == null || alimento.id == null || alimento.id == 0}" class="h3 mb-0 text-gray-800">Modificar alimento</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- NEW ALIMENTO FORM -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="col-sm-10 offset-sm-1">

                  <div class="info-form p-5">
                    <form th:action="@{/admin/alimentos}" th:object="${alimento}" method="POST">
                      <input type="hidden" th:field="*{id}" />
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Nombre<span style="color:red;">*</span></label>
                            <input type="text" th:field="*{nombreAlimento}" class="form-control" required>
                            <span th:if="${fields != null and fields.hasErrors('nombreAlimento')}" th:errors="*{nombreAlimento}"></span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Grupo</label>
                            <select class="form-control" th:field="*{clasificacion}" aria-label="Seleccione Clasificación">
                              <option selected value="">Seleccione Clasificación</option>
                              <option value="ACEITES Y GRASAS">ACEITES Y GRASAS</option>
                              <option value="ACEITES Y GRASAS CON PROTEINA">ACEITES Y GRASAS CON PROTEINA</option>
                              <option value="ALIMENTOS DE ORIGEN ANIMAL ALTO APORTE DE GRASA">ALIMENTOS DE ORIGEN ANIMAL
                                ALTO APORTE DE GRASA</option>
                              <option value="ALIMENTOS DE ORIGEN ANIMAL BAJO APORTE DE GRASA">ALIMENTOS DE ORIGEN ANIMAL
                                BAJO APORTE DE GRASA</option>
                              <option value="ALIMENTOS DE ORIGEN ANIMAL MODERADO APORTE DE GRASA">ALIMENTOS DE ORIGEN
                                ANIMAL
                                MODERADO APORTE DE GRASA</option>
                              <option value="ALIMENTOS DE ORIGEN ANIMAL MUY BAJO APORTE DE GRASA">ALIMENTOS DE ORIGEN
                                ANIMAL
                                MUY BAJO APORTE DE GRASA</option>
                              <option value="ALIMENTOS LIBRES EN ENERGIA">ALIMENTOS LIBRES EN ENERGIA</option>
                              <option value="AZUCARES CON GRASA">AZUCARES CON GRASA</option>
                              <option value="BEBIDAS ALCOHOLICAS">BEBIDAS ALCOHOLICAS</option>
                              <option value="CEREALES CON GRASA">CEREALES CON GRASA</option>
                              <option value="CEREALES SIN GRASA">CEREALES SIN GRASA</option>
                              <option value="FRUTAS">FRUTAS</option>
                              <option value="LECHE CON AZUCAR">LECHE CON AZUCAR</option>
                              <option value="LECHE DESCREMADA">LECHE DESCREMADA</option>
                              <option value="LECHE ENTERA">LECHE ENTERA</option>
                              <option value="LECHE SEMIDESCREMADA">LECHE SEMIDESCREMADA</option>
                              <option value="LEGUMINOSAS">LEGUMINOSAS</option>
                              <option value="PRODUCTOS YAKULT">PRODUCTOS YAKULT</option>
                              <option value="VERDURAS">VERDURAS</option>
                            </select>
                            <span th:if="${fields != null and fields.hasErrors('clasificacion')}" th:errors="*{clasificacion}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Cantidad Sugerida</label>
                            <input type="text" class="form-control" th:field="*{cantSugerida}" required>
                            <span th:if="${fields != null and fields.hasErrors('cantSugerida')}" th:errors="*{cantSugerida}"></span>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Unidad</label>
                            <input type="text" class="form-control" th:field="*{unidad}" required>
                            <span th:if="${fields != null and fields.hasErrors('unidad')}" th:errors="*{unidad}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Peso bruto redondeado (g)</label>
                            <input type="number" step="1" class="form-control" th:field="*{pesoBrutoRedondeado}"
                              required min="1" max="300">
                            <span th:if="${fields != null and fields.hasErrors('pesoBrutoRedondeado')}"
                              th:errors="*{pesoBrutoRedondeado}"></span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Peso neto (g)</label>
                            <input type="number" step="1" class="form-control" th:field="*{pesoNeto}" required min="1"
                              max="300">
                            <span th:if="${fields != null and fields.hasErrors('pesoNeto')}" th:errors="*{pesoNeto}"></span>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Energía (kcal)</label>
                            <input type="number" step="1" class="form-control" th:field="*{energia}" required min="1"
                              max="200">
                            <span th:if="${fields != null and fields.hasErrors('energia')}" th:errors="*{energia}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Proteína (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{proteina}" max="20">
                            <span th:if="${fields != null and fields.hasErrors('proteina')}" th:errors="*{proteina}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Lípidos (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{lipidos}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('lipidos')}" th:errors="*{lipidos}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Hidratos de Carbono (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{hidratosDeCarbono}" max="20">
                            <span th:if="${fields != null and fields.hasErrors('hidratosDeCarbono')}" th:errors="*{hidratosDeCarbono}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Fibra (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{fibra}" max="4">
                            <span th:if="${fields != null and fields.hasErrors('fibra')}" th:errors="*{fibra}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Vitamina A (&micro;g RE)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{vitA}" max="900">
                            <span th:if="${fields != null and fields.hasErrors('vitA')}" th:errors="*{vitA}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Acido Ascórbico (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{acidoAscorbico}" max="400">
                            <span th:if="${fields != null and fields.hasErrors('acidoAscorbico')}" th:errors="*{acidoAscorbico}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Acido Fólico (&micro;g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{acidoFolico}" max="100">
                            <span th:if="${fields != null and fields.hasErrors('acidoFolico')}" th:errors="*{acidoFolico}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Hierro NO HEM (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{hierroNoHem}" max="15">
                            <span th:if="${fields != null and fields.hasErrors('hierroNoHem')}" th:errors="*{hierroNoHem}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Potasio (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{potasio}" max="999">
                            <span th:if="${fields != null and fields.hasErrors('potasio')}" th:errors="*{potasio}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Índice glicémico</label>
                            <input type="number" step="1" class="form-control" th:field="*{indiceGlicemico}" max="150">
                            <span th:if="${fields != null and fields.hasErrors('indiceGlicemico')}" th:errors="*{indiceGlicemico}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Carga glicémica</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{cargaGlicemica}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('cargaGlicemica')}" th:errors="*{cargaGlicemica}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Calcio (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{calcio}" max="2000">
                            <span th:if="${fields != null and fields.hasErrors('calcio')}" th:errors="*{calcio}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Hierro (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{hierro}" max="20">
                            <span th:if="${fields != null and fields.hasErrors('hierro')}" th:errors="*{hierro}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Sodio (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{sodio}" max="2000">
                            <span th:if="${fields != null and fields.hasErrors('sodio')}" th:errors="*{sodio}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Azúcar por equivalente (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{azucarPorEquivalente}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('azucarPorEquivalente')}" th:errors="*{azucarPorEquivalente}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Selenio (&micro;g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{selenio}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('selenio')}" th:errors="*{selenio}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Fosforo (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{fosforo}" max="200">
                            <span th:if="${fields != null and fields.hasErrors('fosforo')}" th:errors="*{fosforo}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Colesterol (mg)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{colesterol}" max="200">
                            <span th:if="${fields != null and fields.hasErrors('colesterol')}" th:errors="*{colesterol}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>AG saturados (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{agSaturados}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('agSaturados')}" th:errors="*{agSaturados}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>AG monoinsaturados (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{agMonoinsaturados}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('agMonoinsaturados')}" th:errors="*{agMonoinsaturados}"></span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>AG poliinsaturados (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{agPoliinsaturados}" max="10">
                            <span th:if="${fields != null and fields.hasErrors('agPoliinsaturados')}" th:errors="*{agPoliinsaturados}"></span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Etanol (g)</label>
                            <input type="number" step="0.1" class="form-control" th:field="*{etanol}" max="50">
                            <span th:if="${fields != null and fields.hasErrors('etanol')}" th:errors="*{etanol}"></span>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-success ">Listo!</button>
                    </form>
                  </div>
                  <br>

                  <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">↓</a>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:insert="~{sbadmin/footer :: footer}"></div>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>

</body>

</html>