<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nutriconsultas - Nuevo Paciente</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:include="sbadmin/pacientes/sidebar :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:include="sbadmin/topbar :: topbar"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Nuevo Paciente</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- NEW PACIENTE FORM -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="col-sm-10 offset-sm-1">

                  <div class="info-form p-5">
                    <form th:action="@{/admin/pacientes/nuevo}" th:object="${paciente}" method="POST">
                      <div class="form-group">
                        <label>Nombre<span style="color:red;">*</span></label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Juan Perez" required>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                      </div>
                      <div class="form-group">
                        <label>Fecha Nac.</label>
                        <input type="date" th:field="*{dob}" class="form-control" placeholder="04/31/1997">
                        <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                      </div>
                      <div class="form-group">
                        <label>Correo</label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="juan.perez@gmail.com">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                      </div>
                      <div class="form-group">
                        <label>Tel&eacute;fono</label>
                        <input type="tel" class="form-control" th:field="*{phone}" placeholder="+1 (616) 221-3345">
                        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                      </div>
                      <div class="form-group">
                        <label>Sexo</label>
                        <select class="form-control" th:field="*{gender}" aria-label="Seleccione Sexo">
                          <option selected value="">Seleccione Sexo</option>
                          <option value="F">Femenino</option>
                          <option value="M">Masculino</option>
                        </select>
                        <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                      </div>
                      <div class="form-group">
                        <label>Persona Responsable</label>
                        <input type="text" class="form-control" th:field="*{responsibleName}" placeholder="Maria Perez">
                        <span th:if="${#fields.hasErrors('responsibleName')}" th:errors="*{responsibleName}"></span>
                      </div>
                      <div class="form-group">
                        <label>Parentesco</label>
                        <input type="text" class="form-control" th:field="*{parentesco}" placeholder="Madre">
                        <span th:if="${#fields.hasErrors('parentesco')}" th:errors="*{parentesco}"></span>
                      </div>
                      <button type="submit" class="btn btn-success ">Listo!</button>
                    </form>
                  </div>
                  <br>

                  <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">↓</a>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:include="sbadmin/footer :: footer"></div>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>

</body>

</html>