<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicons -->
  <link th:href="@{/eterna/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/eterna/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <title>Nutriconsultas - Nueva Consulta para Paciente</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:include="sbadmin/pacientes/sidebar :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:include="sbadmin/topbar :: topbar"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Nueva Consulta para paciente [[(${paciente.name})]]</h1>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- NEW PACIENTE FORM -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <div class="col-sm-10 offset-sm-1">

                  <div class="info-form p-5">
                    <form th:action="@{/admin/pacientes/{pacienteId}/consulta(pacienteId=${paciente.id})}" th:object="${consulta}" method="POST">
                      <div class="form-group">
                        <label>Fecha de la Consulta<span style="color:red;">*</span></label>
                        <input type="date" th:field="*{fechaConsulta}" class="form-control">
                        <span th:if="${#fields.hasErrors('fechaConsulta')}" th:errors="*{fechaConsulta}"></span>
                      </div>
                      <div class="form-group">
                        <label>Peso (Kg.)<span style="color:red;">*</span></label>
                        <input type="number" step="0.01" th:field="*{peso}" class="form-control" required min="15" max="200">
                        <span th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></span>
                      </div>
                      <div class="form-group">
                        <label>Estatura (M.)<span style="color:red;">*</span></label>
                        <input type="number" step="0.01" th:field="*{estatura}" class="form-control" required min="0.5" max="3.8">
                        <span th:if="${#fields.hasErrors('estatura')}" th:errors="*{estatura}"></span>
                      </div>
                      <div class="form-group">
                        <label>Sistolica</label>
                        <input type="number" step="1" th:field="*{sistolica}" class="form-control">
                        <span th:if="${#fields.hasErrors('sistolica')}" th:errors="*{sistolica}"></span>
                      </div>
                      <div class="form-group">
                        <label>Diastolica</label>
                        <input type="number" step="1" th:field="*{diastolica}" class="form-control">
                        <span th:if="${#fields.hasErrors('diastolica')}" th:errors="*{diastolica}"></span>
                      </div>
                      <div class="form-group">
                        <label>Pulso (lpm)</label>
                        <input type="number" step="1" th:field="*{pulso}" class="form-control">
                        <span th:if="${#fields.hasErrors('pulso')}" th:errors="*{pulso}"></span>
                      </div>
                      <div class="form-group">
                        <label>Indice glucemico</label>
                        <input type="number" step="1" th:field="*{indiceGlucemico}" class="form-control">
                        <span th:if="${#fields.hasErrors('indiceGlucemico')}" th:errors="*{indiceGlucemico}"></span>
                      </div>
                      <div class="form-group">
                        <label>SpO2</label>
                        <input type="number" step="0.1" th:field="*{spo2}" class="form-control">
                        <span th:if="${#fields.hasErrors('spo2')}" th:errors="*{spo2}"></span>
                      </div>
                      <div class="form-group">
                        <label>Temperatura (c)</label>
                        <input type="number" step="0.1" th:field="*{temperatura}" class="form-control">
                        <span th:if="${#fields.hasErrors('temperatura')}" th:errors="*{temperatura}"></span>
                      </div>
                      <div class="form-group">
                        <label>Notas</label>
                        <textarea class="form-control" rows="3" th:field="*{notasInterconsulta}"></textarea>
                        <span th:if="${#fields.hasErrors('notasInterconsulta')}"
                          th:errors="*{notasInterconsulta}"></span>
                      </div>
                      <button type="submit" class="btn btn-success ">Listo!</button>
                    </form>
                  </div>
                  <br>

                  <a href="#nav-main" class="btn btn-secondary-outline btn-sm" role="button">↓</a>
                </div>
              </div>
            </div>

          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:include="sbadmin/footer :: footer"></div>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>

</body>

</html>