<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicons -->
  <link th:href="@{/eterna/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/eterna/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <title>Minutriporcion - Listado de pacientes</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/sbadmin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.min.css}" rel="stylesheet">
  <link th:href="@{/sbadmin/vendor/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet">
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:insert="~{sbadmin/sidebar :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:insert="~{sbadmin/topbar :: topbar}"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Listado de Pacientes</h1>
            <div>
              <a th:href="@{/admin/pacientes/nuevo}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2">
                <i class="fas fa-user-plus fa-sm text-white-50"></i> Nuevo Paciente
              </a>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-12">
              <div class="card shadow">
                <div class="card-body">
                  <h6 class="font-weight-bold text-primary mb-3">
                    <i class="fas fa-file-import"></i> Importar paciente desde archivo .mpx
                  </h6>
                  <form th:action="@{/admin/pacientes/importar.mpx}" method="post" enctype="multipart/form-data"
                    class="form-inline flex-wrap">
                    <div class="form-group mr-2 mb-2">
                      <input type="file" name="mpxFile" class="form-control-file" accept=".mpx" required
                        aria-label="Archivo MPX">
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-primary mb-2">
                      <i class="fas fa-upload"></i> Importar
                    </button>
                  </form>
                  <small class="form-text text-muted">
                    Restaura el perfil de registro exportado previamente. No incluye historial clínico.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
          <div class="row">
            <!-- NEW PACIENTE FORM -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <table id="mainGrid" class="table table-striped table-bordered dt-responsive nowrap"
                    style="width: 100%;">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Fecha Nac.</th>
                        <th>Correo</th>
                        <th>Tel&eacute;fono</th>
                        <th>Género</th>
                        <th>Responsable</th>
                        <th>App móvil</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                  </table>

              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:insert="~{sbadmin/footer :: footer}"></div>

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>


    <!-- Custom scripts for all pages-->
    <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>
    <script th:src="@{/sbadmin/vendor/bootstrap-sweetalert/sweetalert.js}"></script>
    <script th:src="@{/sbadmin/js/paciente-mpx-actions.js}"></script>
    <script th:src="@{/sbadmin/js/paciente-mobile-invitation.js}"></script>
    <script lang="javascript">
      'use strict';
      (function ($) {
        $('#mainGrid').DataTable({
          "processing": true,
          "serverSide": true,
          "scrollX": true,
          "language": {
            "emptyTable": "No hay registros",
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron registros",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "loadingRecords": "Buscando...",
            "search": "Buscar:",
            "paginate": {
              "first": "Inicio",
              "last": "Fin",
              "next": "Siguiente",
              "previous": "Anterior"
            },
          },
          "ajax": {
            "url": '/rest/pacientes/data-table',
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
              return JSON.stringify(d);
            }
          },
        });

        var importError = /*[[${importError}]]*/ null;
        if (importError && typeof swal !== 'undefined') {
          swal({
            title: 'No se pudo importar',
            text: importError,
            type: 'error',
            timer: 5000
          });
        }

        if (window.PacienteMpxActions) {
          PacienteMpxActions.bind({
            onDeleted: function () {
              $('#mainGrid').DataTable().ajax.reload(null, false);
            }
          });
        }

        if (window.PacienteMobileInvitation) {
          PacienteMobileInvitation.bindGrid({
            onChanged: function () {
              $('#mainGrid').DataTable().ajax.reload(null, false);
            }
          });
        }

      })(jQuery);
    </script>
</body>

</html>