<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicons -->
  <link th:href="@{/eterna/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/eterna/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <title>Minutriporcion - Perfil de Paciente: [[(${paciente != null ? paciente.id : ''})]]</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:insert="~{sbadmin/pacientes/sidebar :: sidebar}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:insert="~{sbadmin/topbar :: topbar}"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img th:src="${paciente != null && paciente.gender == 'M' ? '/sbadmin/img/ava3.webp' : '/sbadmin/img/ava5.webp'}"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">[[(${paciente != null ? paciente.name : ''})]]</h5>
                  <p class="text-muted mb-1"><i class="fas fa-envelope"></i> [[(${paciente != null ? paciente.email : ''})]]</p>
                  <p class="text-muted mb-4"><i class="fas fa-phone"></i> [[(${paciente != null ? paciente.phone : ''})]]</p>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-weight fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0" th:if="${ultimoPeso != null}">[[(${ultimoPeso})]] kg.</p>
                      <p class="mb-0 text-muted" th:if="${ultimoPeso == null}">N/A</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-ruler-vertical fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0" th:if="${ultimaEstatura != null}">[[(${ultimaEstatura})]] m.</p>
                      <p class="mb-0 text-muted" th:if="${ultimaEstatura == null}">N/A</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-chart-bar fa-lg" style="color: #ccff55;"></i>
                      <p class="mb-0" th:if="${ultimoImc != null}">[[(${#numbers.formatDecimal(ultimoImc,1,'COMMA',2,'POINT')})]] imc.</p>
                      <p class="mb-0 text-muted" th:if="${ultimoImc == null}">N/A</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-calendar fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">[[(${citaAnterior})]] - Cita Anterior</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-calendar fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">[[(${citaSiguiente})]] - Siguiente Cita</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nombre</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.name})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Correo</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.email})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Teléfono</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.phone})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Responsable</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.responsibleName})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Parentesco</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.parentesco})]]</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary" id="chartTitle">Indice de Masa Corporal Historico</h6>
                      <div class="dropdown no-arrow">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="chartTypeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-chart-line"></i> Tipo de Gráfica
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="chartTypeDropdown">
                          <a class="dropdown-item" href="#" data-chart-type="imc">
                            <i class="fas fa-weight"></i> IMC
                          </a>
                          <a class="dropdown-item" href="#" data-chart-type="grasa-corporal">
                            <i class="fas fa-percentage"></i> Índice de Grasa Corporal
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <div th:insert="~{sbadmin/footer :: footer}"></div>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/sbadmin/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script lang="javascript">
    // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';
    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: "IMC",
          lineTension: 0.3,
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "rgba(78, 115, 223, 1)",
          pointRadius: 3,
          pointBackgroundColor: "rgba(78, 115, 223, 1)",
          pointBorderColor: "rgba(78, 115, 223, 1)",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
          pointHoverBorderColor: "rgba(78, 115, 223, 1)",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: [],
        }],
      },
      options: {
        maintainAspectRatio: false,
        layout: {
          padding: {
            left: 10,
            right: 25,
            top: 25,
            bottom: 0
          }
        },
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
            gridLines: {
              display: false,
              drawBorder: false
            },
            ticks: {
              maxTicksLimit: 7
            }
          }],
          yAxes: [{
            ticks: {
              maxTicksLimit: 5,
              padding: 10
            },
            gridLines: {
              color: "rgb(234, 236, 244)",
              zeroLineColor: "rgb(234, 236, 244)",
              drawBorder: false,
              borderDash: [2],
              zeroLineBorderDash: [2]
            }
          }],
        },
        legend: {
          display: false
        },
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          titleMarginBottom: 10,
          titleFontColor: '#6e707e',
          titleFontSize: 14,
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          intersect: false,
          mode: 'index',
          caretPadding: 10,
          callbacks: {
            label: function (tooltipItem, chart) {
              var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
              return datasetLabel + ': ' + tooltipItem.yLabel;
            }
          }
        }
      }
    });


    var currentChartType = 'imc';
    var pacienteId = [[(${paciente != null ? paciente.id : 0})]];

    // Load initial chart
    loadChart('imc');

    // Chart type dropdown handler
    $('.dropdown-item[data-chart-type]').on('click', function(e) {
      e.preventDefault();
      var chartType = $(this).data('chart-type');
      currentChartType = chartType;
      loadChart(chartType);
      // Update dropdown button text
      var buttonText = chartType === 'imc' ? '<i class="fas fa-weight"></i> IMC' : '<i class="fas fa-percentage"></i> Índice de Grasa Corporal';
      $('#chartTypeDropdown').html(buttonText + ' <i class="fas fa-caret-down"></i>');
      // Update chart title
      $('#chartTitle').text(chartType === 'imc' ? 'Indice de Masa Corporal Historico' : 'Indice de Grasa Corporal Historico');
    });

    // function to load chart
    function loadChart(chartType) {
      var url = '/rest/pacientes/' + pacienteId + '/consultas/charts/' + chartType;
      ajax_chart(myLineChart, url);
      
      // Update chart label
      myLineChart.data.datasets[0].label = chartType === 'imc' ? 'IMC' : 'Índice de Grasa Corporal (%)';
      myLineChart.update();
    }

    // function to update our chart
    function ajax_chart(chart, url, data) {
        var data = data || {};

        $.getJSON(url, data).done(function(response) {
            console.debug("response", response);
            chart.data.labels = response.labels;
            // Determine which data field to use based on chart type
            var dataField = currentChartType === 'imc' ? 'imc' : 'grasaCorporal';
            chart.data.datasets[0].data = response.data[dataField] || [];
            chart.update(); // finally update our chart
        });
    }

  </script>

</body>

</html>