<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nutriconsultas - Perfil de Paciente: [[(${paciente.id})]]</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/sbadmin/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <div th:include="sbadmin/pacientes/sidebar :: sidebar"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <div th:include="sbadmin/topbar :: topbar"></div>
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img th:src="${paciente.gender == 'M' ? '/sbadmin/img/ava3.webp' : '/sbadmin/img/ava5.webp'}"
                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">[[(${paciente.name})]]</h5>
                  <p class="text-muted mb-1"><i class="fas fa-envelope"></i> [[(${paciente.email})]]</p>
                  <p class="text-muted mb-4"><i class="fas fa-phone"></i> [[(${paciente.phone})]]</p>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-weight fa-lg" style="color: #55acee;"></i>
                      <p class="mb-0">[[(${paciente.peso})]] kg.</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-ruler-vertical fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">[[(${paciente.estatura})]] m.</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-chart-bar fa-lg" style="color: #ccff55;"></i>
                      <p class="mb-0">[[(${paciente.imc})]] imc.</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-calendar fa-lg" style="color: #ac2bac;"></i>
                      <p class="mb-0">2023-01-01 - Cita Anterior</p>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                      <i class="fas fa-calendar fa-lg" style="color: #3b5998;"></i>
                      <p class="mb-0">2023-01-01 - Siguiente Cita</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nombre</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.name})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Correo</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.email})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Teléfono</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.phone})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Responsable</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.responsibleName})]]</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Parentesco</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">[[(${paciente.parentesco})]]</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Indice de Masa Corporal Historico</h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Linea de tiempo:</div>
                          <a class="dropdown-item" href="#">Mensual</a>
                          <a class="dropdown-item" href="#">Semanal</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <div th:include="sbadmin/footer :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>

  <!-- Page level plugins -->
  <script th:src="@{/sbadmin/vendor/chart.js/Chart.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/sbadmin/js/demo/chart-area-demo.js}"></script>

</body>

</html>