<div th:fragment="sidebar">
  <!-- Sidebar -->
  <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon">
        <i class="fas fa-laptop-medical"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Minutriporcion</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin}">
        <i class="fas fa-fw fa-home"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" th:href="@{/admin/pacientes}">
        <i class="fas fa-fw fa-users"></i>
        <span>Pacientes</span>
      </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
      Paciente
    </div>

    <li class="nav-item" th:classappend="${activeMenu == 'perfil' ? 'active' : ''}">
      <a class="nav-link" th:href="@{/admin/pacientes/{id}(id=${paciente.id})}">
        <i class="fas fa-fw fa-user"></i>
        <span>Perfil</span></a>
    </li>
    <li class="nav-item" th:classappend="${activeMenu == 'afiliacion' ? 'active' : ''}">
      <a class="nav-link" th:href="@{/admin/pacientes/{id}/afiliacion(id=${paciente.id})}">
        <i class="fas fa-fw fa-pencil-alt"></i>
        <span>Afiliación</span></a>
    </li>
    <li class="nav-item" th:classappend="${activeMenu == 'antecedentes' ? 'active' : ''}">
      <a class="nav-link" th:href="@{/admin/pacientes/{id}/antecedentes(id=${paciente.id})}">
        <i class="fas fa-fw fa-file-prescription"></i>
        <span>Antecedentes</span></a>
    </li>
    <li class="nav-item" th:classappend="${activeMenu == 'desarrollo' ? 'active' : ''}">
      <a class="nav-link" th:href="@{/admin/pacientes/{id}/desarrollo(id=${paciente.id})}">
        <i class="fas fa-fw fa-head-side-cough"></i>
        <span>Desarrollo</span></a>
    </li>
    <li class="nav-item" th:classappend="${activeMenu == 'historial' ? 'active' : ''}">
      <a class="nav-link" th:href="@{/admin/pacientes/{id}/historial(id=${paciente.id})}">
        <i class="fas fa-fw fa-heart"></i>
        <span>Historial</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  <!-- End of Sidebar -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div th:include="sbadmin/logout-modal :: logout"></div>
</div>