<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link th:href="@{/eterna/assets/img/favicon.png}" rel="icon">
  <title>Minutriporcion - Suscripciones</title>
  <link th:href="@{/sbadmin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/sbadmin/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link th:href="@{/sbadmin/css/sb-admin-2.min.css}" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">
    <div th:insert="~{sbadmin/sidebar :: sidebar}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div th:insert="~{sbadmin/topbar :: topbar}"></div>
        <div class="container-fluid">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Suscripciones</h1>
          </div>
          <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}">Éxito</div>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Estado de suscripciones</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="subscriptionsGrid" class="table table-bordered table-striped" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Consultorio</th>
                      <th>Plan</th>
                      <th>Estado</th>
                      <th>Vigencia hasta</th>
                      <th>Exento de pago</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:insert="~{sbadmin/footer :: footer}"></div>
    </div>
  </div>
  <script th:src="@{/sbadmin/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/jquery-easing/jquery.easing.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/sbadmin/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
  <script th:src="@{/sbadmin/js/sb-admin-2.min.js}"></script>
  <script th:inline="javascript">
    var subscriptionsDataTableUrl = /*[[@{/rest/platform/subscriptions/data-table}]]*/ '/rest/platform/subscriptions/data-table';
  </script>
  <script>
    'use strict';

    jQuery(document).ready(function ($) {
      $('#subscriptionsGrid').DataTable({
        processing: true,
        serverSide: true,
        scrollX: true,
        order: [ [0, 'desc'] ],
        pageLength: 25,
        lengthMenu: [ [10, 25, 50, 100], [10, 25, 50, 100] ],
        language: {
          emptyTable: 'No hay suscripciones',
          lengthMenu: 'Mostrar _MENU_ registros por página',
          zeroRecords: 'No se encontraron suscripciones',
          info: 'Mostrando _START_ a _END_ de _TOTAL_ suscripciones',
          infoEmpty: 'No hay suscripciones disponibles',
          infoFiltered: '(filtrado de _MAX_ suscripciones en total)',
          loadingRecords: 'Cargando...',
          search: 'Buscar:',
          paginate: {
            first: 'Inicio',
            last: 'Fin',
            next: 'Siguiente',
            previous: 'Anterior'
          }
        },
        ajax: {
          url: subscriptionsDataTableUrl,
          type: 'POST',
          dataType: 'json',
          contentType: 'application/json',
          data: function (data) {
            return JSON.stringify(data);
          }
        },
        columnDefs: [
          { targets: 6, orderable: false, searchable: false }
        ]
      });
    });
  </script>
</body>

</html>
